.list-user-container {
    .list-user-content {
        .child {
            text-align: center;
            width: 400px;
            margin: 0 auto;
            height: 25px;
            border: 1px solid grey;
            padding: 10px 10px;
        }
    }
}